.todoItem {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 10px 5px;
}

.todoItem:last-child {
    border: none;
}

.todoItem p {
    flex-grow: 1;
    line-height: 2.2em;
}
